main[class=attractions] .attraction-item h2, .questions h2, .travel-services h2, .attractions h2, .travel-info h2 {
  font-size: 6vh;
  text-align: center;
  padding: 50px 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .banner .banner-text p {
    width: 60%;
    margin: 40px auto;
  }
}
.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 0.5s ease-out, transform 1s ease-out;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.toggle {
  padding: 0;
  text-align: left;
}
.toggle .fas {
  color: #fff;
  padding: 15px;
}

.active .nav-item {
  display: block;
}

@media screen and (min-width: 1025px) {
  .toggle {
    display: none;
  }
}
nav {
  background-color: #222831;
}
nav .menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}
nav .brand {
  display: none;
}
nav .nav-item {
  display: none;
}
nav .nav-item a {
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}
nav .nav-item a:hover {
  color: #222831;
  background: #fff;
}

@media screen and (min-width: 1025px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav .brand {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
  }
  nav .menu {
    display: flex;
    flex-direction: row;
    justify-self: end;
  }
  nav .menu .nav-item {
    display: block;
  }
}
.home-banner {
  height: 65vh;
  background-image: url("../images/banner-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.home-banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home-banner .banner-text h1 {
  color: #fff;
  font-size: 10vh;
  text-transform: uppercase;
}
.home-banner .banner-text p {
  color: #fff;
  width: 90%;
  margin: 20px auto;
}

.attractions-banner {
  height: 65vh;
  background-image: url("../images/banner-attractions.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.attractions-banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.attractions-banner .banner-text h1 {
  color: #000;
  font-size: 7vh;
  text-transform: uppercase;
}
.attractions-banner .banner-text p {
  color: #000;
  width: 90%;
  margin: 20px auto;
}

footer {
  padding: 15px 3%;
  background-color: #222831;
  color: grey;
  text-align: center;
}
footer a {
  color: grey;
  text-decoration: none;
}
footer a:visited {
  color: grey;
}
footer a:hover {
  color: #a8a8a8;
}
footer .contact-info li {
  margin: 10px 0;
}
footer .social-media {
  margin: 25px 0;
}
footer .social-media ul {
  display: flex;
  justify-content: space-around;
}
footer .copyright {
  margin: 5px 0;
}

@media screen and (min-width: 768px) {
  footer .footer-main-content {
    display: flex;
    justify-content: space-between;
  }
  footer .footer-main-content .contact-info {
    text-align: left;
  }
  footer .footer-main-content .social-media {
    width: 30%;
  }
  footer .copyright {
    margin: 20px 0 0 0;
    text-align: left;
  }
}
.travel-info {
  padding: 0 3%;
  background-color: #393e46;
  color: #fff;
  padding-bottom: 50px;
}
.travel-info .container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 20px;
}
.travel-info .container .col-1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.travel-info .container .col-2,
.travel-info .container .col-3 {
  display: none;
}
.travel-info .container img {
  width: 100%;
  height: width;
}
.travel-info .container p {
  padding-top: 20px;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .travel-info .container {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 20px;
  }
  .travel-info .container .col-1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .travel-info .container .col-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .travel-info .container .col-2 {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .travel-info .container {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 20px;
  }
  .travel-info .container .col-1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .travel-info .container .col-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .travel-info .container .col-3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .travel-info .container .col-2,
.travel-info .container .col-3 {
    display: block;
  }
}
.attractions {
  padding: 0 3%;
  background-color: #eeeeee;
  color: #000;
  padding-bottom: 50px;
}
.attractions .container {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 20px;
}
.attractions .container .col-1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.attractions .container .col-2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.attractions .container .col-3 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.attractions .container .col-4 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.attractions .container .col-5,
.attractions .container .col-6,
.attractions .container .col-7,
.attractions .container .col-8 {
  display: none;
}
.attractions .container a {
  text-decoration: none;
  color: #000;
}
.attractions .container img {
  width: 100%;
  height: width;
}
.attractions .container p {
  padding: 10px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .attractions .container {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 20px;
  }
  .attractions .container .col-1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .attractions .container .col-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .attractions .container .col-3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .attractions .container .col-4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .attractions .container .col-5 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .attractions .container .col-6 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .attractions .container .col-5,
.attractions .container .col-6 {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .attractions {
    padding-bottom: 7vh;
  }
  .attractions .container > div .card .back-yehliu, .attractions .container > div .card .back-nantou, .attractions .container > div .card .back-xinbeitou, .attractions .container > div .card .back-puli, .attractions .container > div .card .back-kenting, .attractions .container > div .card .back-jiufen, .attractions .container > div .card .back-shilin-nightmarket, .attractions .container > div .card .back-taipei-101 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .attractions .container {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 20px;
  }
  .attractions .container .col-1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .attractions .container .col-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .attractions .container .col-3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .attractions .container .col-4 {
    grid-row: 1/2;
    grid-column: 4/5;
  }
  .attractions .container .col-5 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .attractions .container .col-6 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .attractions .container .col-7 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .attractions .container .col-8 {
    grid-row: 2/3;
    grid-column: 4/5;
  }
  .attractions .container .col-7,
.attractions .container .col-8 {
    display: block;
  }
  .attractions .container > div {
    position: relative;
    width: 100%;
    height: 28vh;
    perspective: 1000;
  }
  .attractions .container > div .card {
    text-decoration: none;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
  }
  .attractions .container > div .card:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
  }
  .attractions .container > div .card img {
    height: 100%;
  }
  .attractions .container > div .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .attractions .container > div .card .back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
  }
  .attractions .container > div .card .back p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 25px;
    width: 100%;
    font-weight: 600;
  }
  .attractions .container > div .card .back-taipei-101 {
    background-image: url("../../images/attraction-back1.jpg");
  }
  .attractions .container > div .card .back-shilin-nightmarket {
    background-image: url("../../images/attraction-back2.jpg");
  }
  .attractions .container > div .card .back-shilin-nightmarket p {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .attractions .container > div .card .back-jiufen {
    background-image: url("../../images/attraction-back3.jpg");
  }
  .attractions .container > div .card .back-jiufen p {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .attractions .container > div .card .back-kenting {
    background-image: url("../../images/attraction-back4.jpg");
  }
  .attractions .container > div .card .back-puli {
    background-image: url("../../images/attraction-back5.jpg");
  }
  .attractions .container > div .card .back-xinbeitou {
    background-image: url("../../images/attraction-back6.jpg");
  }
  .attractions .container > div .card .back-nantou {
    background-image: url("../../images/attraction-back7.jpg");
  }
  .attractions .container > div .card .back-nantou p {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .attractions .container > div .card .back-yehliu {
    background-image: url("../../images/attraction-back8.jpg");
  }
}
.travel-services {
  padding: 0 3%;
  background-color: #00adb5;
  color: #000;
  padding-bottom: 50px;
}
.travel-services .container {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0px;
  grid-column-gap: 0px;
}
.travel-services .container .col-1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.travel-services .container .col-2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.travel-services .container .col-3 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.travel-services .container .col-4 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.travel-services .container > div {
  text-align: center;
  padding: 20px;
}
.travel-services .container > div a {
  color: #000;
}
.travel-services .container > div a:visited {
  color: #000;
}
.travel-services .container > div i:hover {
  color: #fff;
}
.travel-services .container > div p {
  padding: 15px 0;
}
.travel-services .container .transportation {
  border-bottom: 3px solid #000;
  margin: 0 10px;
}
.travel-services .container .map {
  border-left: 3px solid #000;
  margin: 10px 0;
}
.travel-services .container .flight {
  border-right: 3px solid #000;
  margin: 10px 0;
}
.travel-services .container .hotel {
  border-top: 3px solid #000;
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  .travel-services .container {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
  }
  .travel-services .container .col-1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .travel-services .container .col-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .travel-services .container .col-3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .travel-services .container .col-4 {
    grid-row: 1/2;
    grid-column: 4/5;
  }
  .travel-services .container > div {
    text-align: center;
    padding: 0 20px;
  }
  .travel-services .container > div:not(:last-child) {
    border-right: 3px solid #000;
  }
  .travel-services .container > div p {
    padding: 15px 0;
  }
  .travel-services .container .transportation,
.travel-services .container .map,
.travel-services .container .flight,
.travel-services .container .hotel {
    margin: 0;
    border: none;
  }
}
.questions {
  padding: 0 3%;
  background-color: #393e46;
  color: #fff;
  padding-bottom: 50px;
}
.questions form {
  width: 85%;
  margin: 0 auto;
}
.questions form .form-group {
  display: flex;
  flex-direction: column;
}
.questions form .form-group label {
  margin: 12px 0px;
}
.questions form .form-group input {
  padding: 6px;
}
.questions form .form-group #submit {
  font-size: 20px;
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  background-color: #4caf50;
}
.questions form .form-group #submit:hover {
  background-color: #35823d;
}

main[class=attractions] {
  padding: 0 5%;
  margin: 0 auto;
  background-color: #393e46;
  color: white;
}
main[class=attractions] .attraction-item {
  padding: 40px 0;
}
main[class=attractions] .attraction-item img {
  width: 100%;
}
main[class=attractions] .attraction-item .item-text p {
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
}

@media screen and (min-width: 1025px) {
  main[class=attractions] .attraction-item {
    display: flex;
    padding: 40px 0;
  }
  main[class=attractions] .attraction-item .img-right {
    order: 2;
  }
  main[class=attractions] .attraction-item img {
    width: 450px;
  }
  main[class=attractions] .attraction-item .item-text p {
    font-size: 16px;
  }
  main[class=attractions] .text-left {
    padding-right: 20px;
  }
  main[class=attractions] .text-right {
    padding-left: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
