.from-left {
    transform: translateX(-50%);
}
.from-right {
    transform: translateX(50%);
}
.from-left,
.from-right {
    transition: opacity 0.5s ease-out, transform 1s ease-out;
    opacity: 0;
}
.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}
