.banner {
    height: 65vh;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .banner-text {
        @include vh-center;
        text-align: center;

        h1 {
            color: #fff;
            font-size: 10vh;
            text-transform: uppercase;
        }

        p {
            color: #fff;
            width: 90%;
            margin: 20px auto;
        }
    }
}

@media screen and (min-width: $tablet-size) {
    .banner {
        .banner-text {
            p {
                width: 60%;
                margin: 40px auto;
            }
        }
    }
}
