footer {
    padding: 15px 3%;
    background-color: $header-footer-bg-color;
    color: grey;
    text-align: center;

    a {
        color: grey;
        text-decoration: none;

        &:visited {
            color: grey;
        }

        &:hover {
            color: #a8a8a8;
        }
    }

    .contact-info {
        li {
            margin: 10px 0;
        }
    }

    .social-media {
        margin: 25px 0;

        ul {
            display: flex;
            justify-content: space-around;
        }
    }

    .copyright {
        margin: 5px 0;
    }
}

@media screen and (min-width: $tablet-size) {
    footer {
        .footer-main-content {
            display: flex;
            justify-content: space-between;

            .contact-info {
                text-align: left;
            }

            .social-media {
                width: 30%;
            }
        }

        .copyright {
            margin: 20px 0 0 0;
            text-align: left;
        }
    }
}
