// Section Title
%section-title {
    font-size: 6vh;
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
}

// Center Stuff
@mixin vh-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

// Grid Creator
@mixin grid-creator($rows, $cols, $max-col-each-row, $row-gap, $col-gap) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $cols;
    grid-row-gap: $row-gap;
    grid-column-gap: $col-gap;

    @for $i from 1 through $rows {
        @for $j from 1 through $max-col-each-row {
            @if $i > 1 {
                .col-#{$j + $max-col-each-row} {
                    grid-row: $i / #{$i + 1};
                    grid-column: $j/ #{$j + 1};
                }
            } @else {
                .col-#{$j} {
                    grid-row: $i / #{$i + 1};
                    grid-column: $j/ #{$j + 1};
                }
            }
        }
    }
}

// Banners Creator
@mixin banner-creator(
    $banner-page,
    $title-text-size,
    $banner-text-color,
    $banner-url
) {
    .#{$banner-page}-banner {
        height: 65vh;
        background-image: url($banner-url);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .banner-text {
            @include vh-center;
            text-align: center;

            h1 {
                color: $banner-text-color;
                font-size: $title-text-size;
                text-transform: uppercase;
            }

            p {
                color: $banner-text-color;
                width: 90%;
                margin: 20px auto;
            }
        }
    }
}

@media screen and (min-width: $tablet-size) {
    .banner {
        .banner-text {
            p {
                width: 60%;
                margin: 40px auto;
            }
        }
    }
}

// Navigation
@mixin with-toggle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@mixin without-toggle {
    display: flex;
    flex-direction: row;
    justify-self: end;
}

@mixin nav-layout {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}
