nav {
    background-color: $header-footer-bg-color;

    .menu {
        @include with-toggle;
    }

    .brand {
        @include nav-layout;
        text-transform: uppercase;
        font-weight: 900;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translate(-50%);
        z-index: 1;
    }

    .nav-item {
        display: none;

        a {
            @include nav-layout;
            &:hover {
                color: $header-footer-bg-color;
                background: #fff;
            }
        }
    }
}

@media screen and (min-width: $desktop-size) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .brand {
            position: relative;
            -webkit-transform: translateX(0);
            transform: translate(0);
            left: 0;
        }

        .menu {
            @include without-toggle;

            .nav-item {
                display: block;
            }
        }
    }
}
