// Color
$header-footer-bg-color: #222831;
$travelInfo-bg-color: #393e46;
$attractions-bg-color: #eeeeee;
$travel-services-ng-color: #00adb5;

// Border Separator
$border-separator: 3px solid #000;

// Banner Image Url
$home-banner-url: '../images/banner-home.jpg';
$attractions-banner-url: '../images/banner-attractions.jpg';

// Section bottom padding
$section-padding-bottom: 50px;

// Media Query Size
$tablet-size: 768px;
$desktop-size: 1025px;
